@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <p>Aplicação MVC em .Net 5 do curso Desenvolvimento de aplicações com .NET da Digital Innovation One</p>
</div>
